@font-face {
    font-family: 'bebasneue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('bebasneue/bebasneuebold.woff2') format('woff2'), url('bebasneue/bebasneuebold.woff') format('woff'), url('bebasneue/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}




body, ul {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: 'bebasneue';
}

li {
    list-style: none;
}
i, h3 {
    color: #afafaf;
}

a {
    text-decoration: none;
    color: #fff;
}

.center {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

#header-top {
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

#search {
    position: relative;
    max-width: 435px;
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 30px;
}



#search input {
    border: none;
    width: 100%;
    height: 100%;
    padding: 5px 35px 5px 10px;
}

#search img {
    position: absolute;
    top: 0px;
    right: 0px;
}

#cart {
    display: flex;
    align-items: center;
}
#cart i {
        font-style: normal;
        font-size: 26px;
        margin-left: 5px;
        position: relative;
        top: 5px;
        color: #a1a1a1;
    }


#header-menu ul {
    justify-content: space-between;
    
}

#header-menu ul li a {
    border-right: 1px solid #fff;
    padding: 0 20px;
    font-size: 22px;
}

#header-menu ul li:first-child a {
    padding-left: 0;
}

#header-menu ul li:last-child a {
        padding-right: 0;
        border: none;
}


#header-menu {
    background: #4ccfc1;
    padding: 12px 15px 8px 15px;

}

#slider {
    justify-content: space-around;
    padding: 55px 0;
    color: #fff;
}
#slider-bg {
    background: #3ac5b5;
}

#slider-text {
    max-width: 420px;
}

#slider-text h2 {
    font-size: 70px;
    margin: 15px 0 0 0;
}
#slider-text p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 0 25px 0;
}
#slider-text button {
    background: none;
    padding: 12px 20px 8px 20px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.5s;
}
#slider-text button:hover {
    background: #fff;
    color: #3ac0b9;
}

.product {
    width: 33%;
}
#products {
    padding: 22px 0;
}

.product h13 {
    margin: 10px 0;
}

.product .wrap {
      border: 1px solid #ccc;
      margin: 22px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 25px 0 30px 0;
      font-size: 28px;
      border-bottom: 5px solid #3cc395;
}

.product button {
    background: #3cc395;
    padding: 12px 10px 12px 10px;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 15px;
}

.product button:hover {
    background: #ff0000;
}

.product i {
    font-style:normal;
}

.product img {
    max-width: 100%;
}

#footer-top-bg {
    background: #3bbfb9;
}

#footer-top {
    justify-content: space-between;
}











@media (max-width: 1025px) {
    #header-top {
                padding: 15px;
    }
     
}

@media (max-width: 940px) {
    #header-menu ul li a {
        border: none;
    }
    #header-menu {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    #slider {
        text-align: center;
        justify-content: center;
        padding: 15px 0;
    }
    #header-top {
           flex-direction: column;
    } 
    #search {
           margin: 15px 0;
    }
    #products {
        padding: 15px;
    }
    .product {
        width: 50%;
    }
    .product .wrap {
        margin: 15px;
    }
}


@media (max-width: 530px) {
    
    #header-menu ul li {
        width: 100%;
        text-align: center;
        
    }
    #header-menu ul li a {
        padding: 5px 15px !important;
        display: block;
    }
}